<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717421270173-crjmobiidihvnunrqv4b0tk8m1be2h80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717421270173-crjmobiidihvnunrqv4b0tk8m1be2h80</string>
	<key>API_KEY</key>
	<string>AIzaSyC-h5i-gNKh6pA_hIkKSN_agpg7jeRWmK8</string>
	<key>GCM_SENDER_ID</key>
	<string>717421270173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.StudyBuddy</string>
	<key>PROJECT_ID</key>
	<string>study-buddy-5e3f3</string>
	<key>STORAGE_BUCKET</key>
	<string>study-buddy-5e3f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717421270173:ios:4aa8bcff7407be97893074</string>
	<key>DATABASE_URL</key>
	<string>https://study-buddy-5e3f3.firebaseio.com</string>
</dict>
</plist>